<div class="row">
<div class="header" style="height:20px;">

<div class="col-md-3">
<a href="/"><img src="images/ourlogo.jpg" alt="artist" style="margin: -90px 0 0 -90px; height: 110px;"></a>

</div>              
<div class="col-md-3" style="margin-top: -70px;"><h1 style="color: #000; margin-left: 100px">BeatsMe</h1></div>
<div class="col-md-3"></div>
<div class="col-md-3"></div>
</div>
</div>
<div class="">

            <div id="slider" class="sl-slider-wrapper">

        <div class="sl-slider">
        
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-1"></div>
              <h2><a href="#">Book Your Favorite Artist.</a></h2>
            </div>
          </div>
          
          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-2"></div>
              <h2><a href="#">Book Your Favorite Artist.</a></h2>
            </div>
          </div>
          
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-3" id="recentMember"></div>
              <h2 id="namedisplay"><a href="#">Book Your Favorite Artist.</a></h2>
            </div>
          </div>
          
          <div class="sl-slide" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-4"></div>
              <h2><a href="#">Book Your Favorite Artist.</a></h2>
            </div>
          </div>
          
          <div class="sl-slide" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="bg-img bg-img-5"></div>
              <h2><a href="#">Book Your Favorite Artist.</a></h2>
            </div>
          </div>
        </div><!-- /sl-slider -->



        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </nav>

      </div><!-- /slider-wrapper -->
</div>



<div class="banner-search">
  <div class="container"> 
    <!-- banner -->
    <h3>Search by Location and genre</h3>
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
        <form role="form" action="/searchBy" method="POST">
          <input name="location" type="text" class="form-control" placeholder="Search by location">
          
          <input name="genre" type="text" class="form-control" placeholder="Search by genre">

          <div class="row">
            <div class="col-lg-3 col-sm-3 ">
<button class="btn btn-success">Find Now</button>
            </div>
              <div class="col-lg-3 col-sm-4">
              
              </div>
          </div>
        </form>          
          
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-6 ">
          <p style="color:#FFF;">Join now and get updated with all new artists</p>
          <button class="btn btn-info"   data-toggle="modal" data-target="#loginpop">Login</button>        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner -->
<div class="container">
  <div class="properties-listing spacer">
    <h2>Featured Artists</h2>
    <div id="owl-example" class="owl-carousel">
    {{#each artist_data}}
      <div class="properties">
        <div class="image-holder"><img src="{{this.photo}}" class="img-responsive" style="width: 200px; height: 133px;" alt="properties"/>
        {{availability this.available}}
        </div>
        <h4><a href="/profile/{{this.id}}">{{this.artist_name}}</a></h4>
        <p class="price">{{this.genre}}</p>
        <p class="price">{{this.location}}</p>
        <a class="btn btn-primary" href="/profile/{{this.id}}">View Details</a>
      </div>
      {{/each}}
      
    </div>
  </div>
  
</div>