<div class="container">
<div class="properties-listing spacer">

<div class="row">
<div class="col-lg-3 col-sm-4 hidden-xs">
<div class="search-form"><h4><span class="glyphicon glyphicon-search"></span> Search for Artists</h4>
    <form role="form" action="/searchBy" method="POST">
          <input name="location" type="text" class="form-control" placeholder="Search by location">
          
          <input name="genre" type="text" class="form-control" placeholder="Search by genre">
          <button class="btn btn-primary">Find Now</button>
          </form>

  </div>

</div>

<div class="col-lg-9 col-sm-8 ">
<div class="row">
<div class="col-md-6"><h2 id="artist" data-artist="{{this.artist_name}}">{{this.artist_name}}</h2>
</div>
<div class="col-md-6"><button class="btn btn-info"   data-toggle="modal" data-target="#profilepop">Edit Profile</button></div>

</div>
<div class="row">
  <div class="col-lg-8">
  <div class="property-images">
    <div class="item ">
          <img src="{{this.photo}}" class="properties" alt="properties" style="width:550px; height: 300px;"/>
          
        </div>

  </div>
  
   
  <div class="spacer"><h4><span class="glyphicon glyphicon-music"></span> Genres</h4>
  <p>{{this.genre}}</p>
  </div>
  
    <div class="spacer"><h4><span class="glyphicon glyphicon-th-list"></span> SoundCloud page</h4>
    <a href="{{this.soundcloud}}"><img src="https://w.soundcloud.com/icon/assets/images/orange_white_64-94fc761.png"></a>
    
  </div>
  <div class="spacer"><h4><span class="glyphicon glyphicon-th-list"></span> Location</h4>
  <p>{{this.location}}</p>
  </div>

  <div class="spacer"><h4><span class="glyphicon glyphicon-th-list"></span> Experience</h4>
  <p>{{this.experience}}</p>

  </div>

  </div>
  <div class="col-lg-4">

<div><h4><span class="glyphicon glyphicon-calendar"></span>Availability</h4>
<h3>{{this.date}}</h3>
    <!-- Form code begins -->
    <form class="create-update-form" method="POST" action="/myprofile/update?_method=PUT">
      <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date">Date</label>
        <!-- <input class="form-control" name="date" placeholder="MM/DD/YYYY" type="text"/> -->


<input type="text" name="daterange" value="02/01/2017 - 02/28/2017" />

<script type="text/javascript">
$(function() {
    $('input[name="daterange"]').daterangepicker();
});
</script>
       <!-- Submit button -->
        <button class="btn btn-primary " name="submit" type="submit">Submit</button>
      </div>
     </form>
     <!-- Form code ends --> 

    
  </div>

  </div>
</div>
</div>
</div>
</div>
</div>

<!-- Modal -->
<div id="profilepop" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <form class="create-update-form" method="POST" action="/myprofile/update?_method=PUT">
                <label for="artist_name">Full Name</label>
                <input type="text" class="form-control" name="artist_name" value="{{this.artist_name}}">
                <label for="artist_email">Email</label>
                <input type="text" class="form-control" name="email" value="{{this.email}}">
                <label for="location">Location</label>
                <input type class="form-control" name="location" value="{{this.location}}">
                <label for="genre">Genres</label>
                <input type class="form-control" name="genre" value="{{this.genre}}">
                <label for="soundcloud">Soundcloud link</label>
                <input type class="form-control" name="soundcloud" value="{{this.soundcloud}}">
                <label for="experience">Experience</label>
                <textarea rows="6" class="form-control" name="experience">{{this.experience}}</textarea><br>
                <!--<label class="control-label" for="date">Date</label>
         <input class="form-control" id="date" name="date" placeholder="Availabilty" type="text"/> -->
      <button type="submit" class="btn btn-success" name="Submit">Submit</button>
</form>

      </div>
    </div>
  </div>
</div>
<!-- /.modal -->