<div class="container">
<div class="properties-listing spacer">

<div class="row">
<div class="col-lg-3 col-sm-4 ">

  <div class="search-form"><h4><span class="glyphicon glyphicon-search"></span> Search for Artists</h4>
    <form role="form" action="/searchBy" method="POST">
          <input name="location" type="text" class="form-control" placeholder="Search by location">
          
          <input name="genre" type="text" class="form-control" placeholder="Search by genre">
          <button class="btn btn-primary">Find Now</button>
          </form>

  </div>

<div class="hot-properties hidden-xs">
<h4>Featured Artists</h4>
{{#each artist_data}}
<div class="row">
                <div class="col-lg-4 col-sm-5"><img src="{{this.photo}}" class="img-responsive img-circle" alt="properties"></div>
                <div class="col-lg-8 col-sm-7">
                  <h5><a href="/profile/{{this.id}}">{{this.artist_name}}</a></h5>
                  <p class="price">{{this.genre}}</p> </div>
              </div>
              {{/each}}
</div>
</div>
     <!-- Artists -->
     {{#each artist_data}}
      <div class="col-lg-3 col-sm-4">
      <div class="properties" style="width: 250px;">
         <div class="image-holder"><img src="{{this.photo}}" class="img-responsive" style="width: 250px; height: 133px;" alt="properties">
          {{availability this.available}}
        </div>
        <h4><a href="/profile/{{this.id}}">{{this.artist_name}}</a></h4>
        <p class="price">{{this.genre}}</p>
        <p class="price">{{this.location}}</p>
        <a class="btn btn-primary" href="/profile/{{this.id}}">View Details</a>
      </div>
      </div>
      {{/each}}

</div>
</div>
</div>
</div>